.item-block {
  padding: 4rem 0rem;
  width: 50%;
  border-bottom: 0.14rem solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
}

.item-block.inline {
  width: 100%;
}

.item-block.right {
  border-right: 0.14rem solid rgb(230, 230, 230);
}

.item-block.odd {
  border-right: 0;
}

.item-block.last {
  border-bottom: 0;
}

.item-block p {
  font-size: 1.3rem;
  color: rgb(100, 100, 100);
  line-height: 2.5rem;
  width: 80%;
}

.item-block .item-figure {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 20vw;
  margin-bottom: 3rem;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.item-block .item-figure .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

.item-block .item-figure:hover .item-img {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .item-block .item-figure {
    width: 60%;
    height: 30vw;
  }
  .item-block {
    width: 100%;
  }
  .item-block.right {
    border-right: 0;
  }

  .item-block.odd {
    border-right: 0;
  }
}

@media screen and (max-width: 714px) {
  .item-block .item-figure {
    width: 80%;
    height: 40vw;
  }
}
