.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-block-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  border-top: 0.14rem solid rgb(230, 230, 230);
  border-bottom: 0.14rem solid rgb(230, 230, 230);
}

.list-toggle {
  height: 3rem;
  width: 3rem;
  align-self: flex-end;
  margin: 4rem 4rem 0 0;
  background: gray;
  cursor: pointer;
}
