nav {
    width: 100rem;
    height: 8vh;
}

.nav-links {
    display: flex;
    justify-content:space-around;
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.33);
}

.nav-links .link {
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
    color: black;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
}
.link.active {
    background: white;
}

.nav-links .link:hover {
    background: rgba(255, 255, 255, 0.5);
}

.link.active:hover {
    color: rgb(50, 200, 200);
    background: white;
}