main {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20vh;
  padding-bottom: 20vh;
  width: 100%;
}

header {
  padding: 0.5rem 1.6rem;
  margin-bottom: 4rem;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border: 0.5rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  padding: 4rem 0rem;
  width: 100rem;
  background: white;
}

.main-section .main-container .main-title {
  margin: 0 2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
}

.main-section .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-section .main-container h2 {
  margin: 0 2rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  text-align: center;
  transition: color 0.2s ease-in-out;
  color: rgb(100, 100, 100);
}

.main-section .main-container h2:hover {
  color: rgb(50, 200, 200);
}
.main-section .common-content {
  width: 80%;
  line-height: 2.5rem;
  font-size: 1.3rem;
  color: rgb(100, 100, 100);
}

.main-section .main-figure {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.main-section .main-figure .main-img {
  width: 100%;
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

.main-section .main-figure:hover .main-img {
  transform: scale(1.05);
}

.main-section .main-container .item-block-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 6rem 0;
  border-top: 0.14rem solid rgb(230, 230, 230);
  border-bottom: 0.14rem solid rgb(230, 230, 230);
}

@media screen and (max-width: 1300px) {
  .main-section {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .main-section .main-container .item-block-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 6rem 0;
    border-top: 0.14rem solid rgb(230, 230, 230);
    border-bottom: 0.14rem solid rgb(230, 230, 230);
  }

  nav {
    display: none;
  }
}

@media screen and (max-width: 714px) {
  .main-section {
    width: 100%;
  }

  .main-section .main-container .main-title {
    font-size: 4rem;
  }
}